html,
body {
    width: 100%;
    height: 100%;
    border: 0px;
    padding: 0px;
    margin: 0px;
}

html,
html * {
    color: #555555;
}

* {
    border-color: #555555;
}

#inner {
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
    display: table;
}

h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 50px;
    display: table-cell;
    vertical-align: middle;
}

#footer {
    bottom: 0px;
    position: fixed;
    color: #999;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
}