.apply_lc {
	font-family:"微软雅黑";
  width: 100%;
  position: relative;
  margin: 100px 0;
}
.apply_lc .apply_lc_xt {
  width: 100%;
  height: 0px;
  background-color: #fff;
  border-bottom: 1px dashed #999;
  display: block;
}
.apply_lc ul {
  height: 127px;
  width: 80%; 
  margin: 0 auto;
  overflow: hidden;
  margin-top: -36px;
}
.apply_lc ul li {
	list-style:none;
  float: left;
  text-align: center;
  font-size: 22px;
  margin-right:15%;
}
.apply_lc ul li span{
	margin-top: 5px;
    display: block;
}
.apply_lc ul li .lc_tbbg {
  width: 71px;
  height: 71px;
  margin: 0 auto;
  background-color: #999;
  display: block;
  border-radius: 50%;
  margin-bottom: 10px;
}
.apply_lc ul li .lc_tbbg i {
  background-image: url(../images/user_nav_tb.png);
  background-repeat: no-repeat;
  width: 37px;
  height: 37px;
  display: block;
  float: left;
  margin: 17px 0 0 17px;
}
.apply_lc ul li .lc_tbbg .tbpic01 {
  background-position: 0 -75px;
}
.apply_lc ul li .lc_tbbg .tbpic02 {
  background-position: -43px -75px;
}
.apply_lc ul li .lc_tbbg .tbpic03 {
  background-position: -83px -75px;
}
.apply_lc ul li .lc_tbbg .tbpic04 {
  background-position: -126px -75px;
}
.apply_lc ul li.dlt_right {
  margin-right: 0;
}
.apply_lc ul li.active .lc_tbbg {
  background-color: #4496da;
}
.state_cls{
	display:block;
}

.save_btn{
	width: 100px;
    margin: 0 auto;
    display: block;
}